body{
    overflow-x: hidden;
}
#nav{
    position: fixed;
    width: 100%;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.671);
}
#carouselExample{
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: -50px;
}
#carousel-text{
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: -550px;
    margin-left: 180px;
    font-size: 35px;
}
#carousel-text h1{
font-size: 55px;
margin-left: 15px;
}
#carousel-text button{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(64, 197, 249);
}
#cards{
    display: flex;
    margin-top: -120px;
    margin-left: 150px;
}
#cards .card{
margin-left: 100px;
}
#cards h1{
    margin-top: 700px;
}
#card-text{
    background-color: skyblue;
    display: flex;
    width: 100%;
    height: 650px;
    margin-left: 0px;
    padding-left: 250px;
    padding-top: 400px;
    margin-top: -350px;
}
#card-text1 {
    width: 290px;
    
}
#card-text2 p{
    margin-left: 100px;
    width: 290px;
}
#card-text3 p{
    margin-left: 100px;
    width: 290px;
}
#services{
    width: 100%;
    height: 600px;
    background-color:white;
}
#services-text{
    justify-content: center;
    width: 500px;
    margin-left: 34rem;
    padding-top: 50px;
    font-size: 20px;
}
#services .card img{
    border-radius: 50%;
    box-shadow: 4px 2px 4px  black;
}
#services #card{
   display: flex;
   padding-left: 50px;
}

#card .card{
    border: 0px;
    margin-left: 230px;
    margin-top: 30px;
}
#card .card .card-body{
    width: 300px;
    padding-left: -10px;
}
#section-5 img{
    margin-top: -30px;
}
#ssection-4{
    z-index: -3;
}
#section-4-5{
    position: absolute;
    z-index: 10;
    margin-top: -350px;
    margin-left: 750px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    width: 70%;
    height: 500px;
}
#section-4-5 .texts{
    padding-left: 50px;
    padding-top: 20px;
}
#section-4-5-card1{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
    width: 700px;
}
#section-6-text{

}


/* responsive */
@media screen and (max-width:600px) {
    #nav{
        margin: 0px 0px 0px 0px;
        background-color: rgba(255, 255, 255, 0.556);
    }
    #carouselExample{
        margin-top: 50px;
       top: 60px;
    }
    #carousel-text{
        background-color: darkslategrey;
        color: black;
        margin-top: 0px;
        margin-left: -5px;
        margin-right:0px ;
        font: 15px;
        height: 420px;
        width: 101%;
    }
    #carousel-text button{
        margin-left: 30%;
    }
    #cards{
        display: grid;
        margin-top: 250px;
        margin-left: 0px;
    }
    #cards .card{
        margin-top: 200px;
        margin-left: -2px;
        margin-left: 50px;
    }
    #card-text{
        display: grid;
        margin-top: -1950px;
        height: 2300px;
    }
    #card-text1 {
        width: 320px;
        padding-top: 300px;
        padding-left: -150px;
        margin-left: -200px;
        
    }
    #card-text2 p{
        margin-left: -200px;
        margin-top: 280px;
        margin-bottom: 0px;
        width: 290px;
    }
    #card-text3 p{
        margin-left: -200px;
        margin-top: 290px;
        width: 290px;
        margin-bottom: 0px;

    }
    #services{
        height: 700px;
        padding-left: 20px;
    }
    #services #services-text{
        color: black;
        margin-left: 50px;
        width: 300px;
    }
    #services #card {
        display: grid;
        margin-left: 1px;
    }
    #card .card{
        margin-left: 1px;
    }
    #section-4 img{
        margin-top: 740px;
        width: 100%;
    }
    #section-4-5{
        margin-left: 1px;
        margin-top: 20px;
        width: 100%;
        height: 650px;
        box-shadow: none;

    }
    #section-4-5-card1{
        display: grid;
    }
    #section-5 img{
        margin-top: 650px;
        width: 101%;
    }

}