body{
    overflow-x: hidden;
}
#nav{
    margin: 50px 50px 50px 50px;
    width: 90%;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.525);
}
#carouselExample-c{
    position: absolute;
    width: 100%;
    top: 0;
    
}
#carousel-text{
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: -550px;
    margin-left: 180px;
    font-size: 35px;
}
#carousel-text h1{
font-size: 55px;
margin-left: 15px;
}
#carousel-text button{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(64, 197, 249);
}
#cards{
    display: flex;
    margin-top: -120px;
    margin-left: 150px;
}
#cards .card{
margin-left: 100px;
}
#cards h1{
    margin-top: 700px;
}
#card-text{
    background-color: skyblue;
    display: flex;
    width: 100%;
    height: 650px;
    margin-left: 0px;
    padding-left: 250px;
    padding-top: 400px;
    margin-top: -350px;
}
#card-text1 {
    width: 290px;
    
}
#card-text2 p{
    margin-left: 100px;
    width: 290px;
}
#card-text3 p{
    margin-left: 100px;
    width: 290px;
}
#services{
    width: 100%;
    height: 600px;
    background-color:white;
}
#services-text{
    justify-content: center;
    width: 500px;
    margin-left: 34rem;
    padding-top: 50px;
    font-size: 20px;
}
#services .card img{
    border-radius: 50%;
    box-shadow: 4px 2px 4px  black;
}
#services #card{
   display: flex;
   padding-left: 50px;
}

#card .card{
    border: 0px;
    margin-left: 230px;
    margin-top: 30px;
}
#card .card .card-body{
    width: 300px;
    padding-left: -10px;
}
#section-5 img{
    margin-top: -30px;
}
#section-4 {
    z-index: 3;
}
#section-4-img{
    margin-top: 50px;
}
#section-4-5{
    position: absolute;
    z-index: 10;
    margin-top: -350px;
    margin-left: 750px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    width: 70%;
    height: 500px;
}
#section-4-5 .texts{
    padding-left: 50px;
    padding-top: 20px;
}
#section-4-5-card1{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
    width: 700px;
}
#section-6-text{
    margin-top: -600px;
    margin-left: 600px;
    color: white;    
}
#section-6-text h1{
    font-weight: bold;
    font-size: 60px;
    margin-left: -100px;
}
#section-6-text h4{
    padding-left: 40px;
    color: rgb(183, 183, 0);
    font-weight: bold;
}
#section-6-text p{
    margin-left: -80px;
    width: 500px;
    color: skyblue;
    font-size: 20px;
    font-weight: bold;
}
#section-6-cards  {
    position: absolute;
   margin-left: 100px;
    display: flex;
}
#section-6-cards .cards{
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 30px;
    width: 400px;
    border: 0px ;
    background-color: rgba(3, 92, 126, 0.805);
}
#section-7{
    margin-top: 400px;
    width: 600px;
    font-weight: bold;
    margin-left: 650px;
    line-height: 40px;
   
}
#section-7 p{
    margin-left: -150px;
}
#section-8{
    display: flex;
    margin-left: 40px;
}
#section-8 .img1, .img2 , .img3{
    margin-left: 40px;
}
#section-8 .img-text1 , .img-text2 , .img-text3{
    background-color: white;
    margin-left: 55px;
    margin-top: -50px;
    position: absolute;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    box-shadow: 1px 4px 1px black;
}
#section-9 img{
    margin-top: 80px;
}
#section-9-text{
    margin-top: -300px;
    margin-left: 800px;
}
#section-9-text h1{
    margin-left: -40px;
}
#section-9-text button{
    padding: 15px 15px;
    margin-left: 80px;
    margin-top: 20px;
    color: white;
    background-color: rgb(8, 149, 204);
    border: 0px solid;
    border-radius: 5px;
}
#section-10 {
    margin-top: 200px;
    margin-left: 600px;
    line-height: 35px;
}
#section-10 h3 {
    margin-left: 20px;
}
#section-10 p {
    margin-left: -150px;
}
#section-10-cards{
    display: flex;
}
#section-10-cards, .card{
    margin-left: 80px;
    border: 0px;
    width: 1178px;
}
#section-10-cards, .card ,h4 ,h2 , p {
    padding: 5px 5px;
}
#card-profile {
    display: flex;
    border-bottom: 2px solid skyblue;  
}
footer{
  margin: 50px 50px 0px 50px;
  display: flex;
}
footer #logo , #address ,#quicklinks , #newsletter{
    width: 350px;
}
#quicklinks{
    display: flex;
}
#navlist{
    display: flex;
    margin-top: 50px;
    margin-left: -150px;
}
#newsletter button{
    border: 0px solid ;
    background-color: skyblue;
    margin-left: -5px;
    padding: 3px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#copyrights {
    display: flex;
    justify-content: center;
}


/* responsive */
@media screen and (max-width:600px) {
    .container{
        overflow: auto;
    }
    #nav{
        width: 100%;
        margin: 0px;
        background-color: rgba(255, 255, 255, 0.684);
    }
    #carouselExample{
        position: relative;
        margin-top: 50px;
        top: 60px;
    }
    #carousel-text{
        background-color: darkslategrey;
        color: black;
        margin-top: 0px;
        margin-left: -5px;
        margin-right:0px ;
        height: 270px;
        width: 101%;
    }
    #carousel-text p{
        margin-left: 65px;
        margin-top: 10px;
        font-size: 25px;
    }
    #carousel-text h1{
        margin-left: 60px;
        font-size: 30px;
    }

    #carousel-text button{
        margin-top: 30px;
        margin-left: 30%;
    }
    #cards{
        display: grid;
        margin-top: 250px;
        margin-left: 0px;
    }
    #cards .card{
        margin-top: 200px;
        margin-left: -2px;
        margin-left: 50px;
    }
    #card-text{
        display: grid;
        margin-top: -1950px;
        height: 2300px;
    }
    #card-text1 {
        width: 320px;
        padding-top: 300px;
        padding-left: -150px;
        margin-left: -200px;
        
    }
    #card-text1 h1{
        margin-left: -0px;
    }
    #card-text2 p{
        margin-left: -200px;
        margin-top: 280px;
        margin-bottom: 0px;
        width: 290px;
    }
    #card-text3 p{
        margin-left: -200px;
        margin-top: 290px;
        width: 290px;
        margin-bottom: 0px;

    }
    #services{
        height: 700px;
        padding-left: 20px;
    }
    #services #services-text h1{
        margin-left: -10px;
    }
    #services #services-text{
        color: black;
        margin-left: 50px;
        width: 300px;
    }
    #services #card {
        display: grid;
        margin-left: 1px;
    }
    #card .card{
        margin-left: 1px;
    }
    #section-4 img{
        margin-top: 780px;
        width: 100%;
    }
    #section-4-5{
        margin-left: 1px;
        margin-top: 20px;
        width: 100%;
        height: 650px;
        box-shadow: none;

    }
    #section-4-5 .texts  h1{
        width: 300px;
        margin-left: -10px;
    }
    #section-4-5-card1{
        display: grid;
    }
    #section-5 img{
        margin-top: 750px;
        width: 101%;
    }
    #section-6-text{
        margin-left: 30px;
        width: 100%;
    }
    #section-6-text h1{
     width: 400px;
     margin-left: 55px;
    }
    #section-6-text h4{
        margin-left: 40px;
    }
    #section-6-text p{
        margin-top: 20px;
       width: 400px;
       margin-left: 0px;
    }
    #section-6-cards  {
        display: grid;
        margin-top: 300px;
        margin-left: -5px;
    }
    #section-6-cards .cards{
       margin-top: 5px;
       margin-left: -5px;
       width: 101%;
}
#section-6-cards .cards img h3{
    padding-left: 50%;
}
#section-7{
   margin-left: -2px;
   margin-top: 1150px;
}
#section-7 h3 , h1{
    margin-left: 150px;
    margin-bottom: 20px;
}
#section-7 p{
    width: 400px;
    line-height: 20px;
    margin-left: 20px;
}
#section-8{
    display: grid;
    margin-left: -15px;
}
#section-8 .img1, .img2 , .img3{
    margin-bottom: 70px;
    margin-left: -0px;
    
}
#section-8 img{
    width: 100%;
}
#section-8 .img-text1 , .img-text2 , .img-text3{
  width: 300px;
  text-align: center;
}
#section-8 h1{
    margin-left: -20px;
}
#section-9{
    margin-top: -90px;
}
#section-9-text{
   margin-left: 50px;
   margin-top: -350px;
}
#section-9-text h1{
    margin-left: -0px;
}
#section-9-text img{
    height: 200px;
}
#section-10{
    margin-left: 0;
}
#section-10 h3{
    margin-left: 90px;
    margin-top: 50px;
}
#section-10 h1{
    margin-left: 90px;
   
}
#section-10 p{
    margin-left: 40px;
    line-height: 20px;   
}
#section-10-cards{
    display: grid;
    margin-left: -80px;
    width:500px;
}
#section-10-cards, .card{
    width: 430px;
}
#section-10-cards, .card , .card-img{
    width: 100%;
}
footer{
    display: grid;
    margin-left: 20px;
}
#address , #quicklinks , #newsletter{
    margin-left: 40px;
}




}